.contact-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc(100vw - 35%);
}

.contact-content h1 {
    color: rgb(223, 209, 209);
    font-size: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.contact-card {
    background-color: rgb(223, 209, 209);
    font-family: 'Lato', sans-serif;
    padding: 1rem 4rem;
    height: 50rem;
    width: 70rem;
}

.contact-card h2 {
    font-size: 2rem;
    margin-bottom: 2.8rem;
}

.contact-field {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.contact-field h3 {
    width: 18rem;
}

.contact-field img {
    width: 2.4rem;
}

.link-area a {
    color: rgb(100, 94, 94);
    margin-left: 1.5rem;
    text-decoration: none;
}

.link-area a:hover {
    color: rgb(124, 64, 124);
    cursor: pointer;
    text-decoration: underline;
}