.container {
    background: linear-gradient(252.44deg, #1A1A1A 0%, #0A0A0A 100%);
    height: 100%;
}

header {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 15rem;
    position: relative;
    top: -30px;
    left: 20px;
}

.option-header {
    display: flex;
    gap: 20rem;
    position: relative;
    top: -30px;
}

header li {
    color: rgba(152, 89, 255, 1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
}

header li:hover {
    cursor: pointer;
    opacity: 0.9;
}