.container-home {
    background: linear-gradient(252.44deg, #1A1A1A 0%, #0A0A0A 100%);
    min-height: 100vh;
}

.avatar-cartoon {
    background-image: url("../../assets/imgHome/programmer.png");
    background-position: center;
    background-size: auto;
    outline: 4px solid rgba(36, 36, 36, 1);
    border-radius: 50%;
    height: 24rem;
    width: 24rem;
}

header {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

header img {
    width: 15rem;
    position: relative;
    top: -30px;
    left: 20px;
}

.img-area {
    border: 2px dotted rgba(152, 89, 255, 0.4);
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-header {
    display: flex;
    gap: 20rem;
    position: relative;
    top: -30px;
}

.option-header a {
    color: rgba(251, 251, 251, 1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    text-decoration: none;
}

.option-header a:hover {
    color: rgba(152, 89, 255, 1);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-around;
}