.container-projects {
    background: linear-gradient(252.44deg, #1A1A1A 0%, #0A0A0A 100%);
    color: rgba(251, 251, 251, 1);
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 17rem;
}

.container-projects h1 {
    background-color: rgb(42, 42, 112);
    border: 2px solid wheat;
    border-radius: 12px;
    padding: 12px;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    margin: 4rem 0rem;
}

.img-project {
    background-image: url('../../assets/imgProjects/Pokedex.png');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 65%;
    width: 100%;
}

.presentation {
    background: linear-gradient(252.44deg, #2e2b2b 0%, #111111 100%);
    border: 1px solid rgb(46, 45, 45);
    border-radius: 7px;
    box-shadow: 3px 3px 12px 0px rgb(71, 69, 69);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    line-height: 3rem;
    padding: 2rem;
    margin-bottom: 3rem;
}

.project-brands {
    color: white;
    display: flex;
    gap: 2rem;
    font-size: 3rem;

}

.project-card {
    background: linear-gradient(252.44deg, #2e2b2b 0%, #111111 100%);
    border-radius: 5px;
    box-shadow: 4px 3px 12px 0px rgb(71, 69, 69);
    height: 38rem;
    width: 47rem;
    position: relative;
}

.project-card:hover {
    cursor: pointer;
    box-shadow: 6px 4px 12px 0px rgb(128, 123, 123);
    top: -4px;
}

.projects-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6rem;
    width: 100%;
}

.projects-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text-project {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    padding: 0rem 2rem;
}

.text-project h2 {
    color: rgb(85, 85, 148);
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    margin-top: 1.5rem;
}

.text-project span {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}