* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.aboutMe-content h1,
.skills-content h1 {
    color: rgb(223, 209, 209);
    font-size: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.container {
    background-color: rgb(2, 2, 32);
    min-height: 100vh;
    display: flex;
}

.left-side {
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    width: 35%;
}

.left-side__content {
    color: rgb(223, 209, 209);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    letter-spacing: 0.2rem;
    margin-top: 6rem;
    position: fixed;
}

.left-side img {
    border: 2px solid purple;
    border-radius: 50%;
    height: 22rem;
    width: 25rem;
}

.avatar-img {
    background-image: url("../assets/avatar.jpeg");
    background-position: center bottom -30px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid purple;
    border-radius: 50%;
    height: 22rem;
    width: 25rem;
}

.my-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.non-style {
    list-style: none;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

.options li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.options a {
    color: rgb(223, 209, 209);
    text-decoration: none;
}

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif; */