.skills-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 35%);
}

.skills-content p {
    color: rgb(223, 209, 209);
    font-size: 2.2rem;
}

.skills-content__stacks {
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-top: 8rem;
}

.skills-content__stacks :first-child {
    margin-right: 10rem;
}

.selected-stack {
    color: white;
    text-decoration: underline;
}

.non-selected-stack:hover {
    cursor: pointer;
    color: rgb(187, 179, 179);
}

.skills-field {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 7rem;
}

.skills-field img {
    cursor: pointer;
    width: 3.5rem;
}

.skills-field img:active {
    transform: scale(1.2);
}

.modal-badges {
    background-color: #ffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    height: 16rem;
    width: 18rem;
}

.modal-badges img {
    width: 9rem;
}