@media (max-width: 400px) {
    .container {
        display: none;
    }

    .tiny-screen {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
    }
}

@media (max-width: 490px) {

    .avatar-cartoon,
    .img-area {
        display: none;
    }

    .aboutMe-content {
        width: 100%;
    }

    .contact-field h3 {
        display: none;
    }

    main {
        justify-content: center;
    }

    .skills-content__stacks :first-child {
        margin-right: 5rem;
    }
}

@media (max-width:515px) {
    .container-home header {
        flex-direction: column;
    }

    header img {
        left: 10px;
    }
}

@media (max-width: 600px) {
    .container-home header {
        width: 95%;
    }
}

@media (max-width: 715px) {

    .avatar-cartoon {
        background-size: contain;
        height: 18rem;
        width: 18rem;
    }

    .img-area {
        height: 22rem;
        width: 22rem;
    }

    .contact-content {
        width: 100%;
    }

    .left-side {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .skills-content p {
        padding: 0rem;
    }

    .title-name {
        font-size: 4rem;
    }
}

@media (max-width: 790px) {
    .avatar-img {
        height: 17rem;
        width: 20rem;
    }

    .contact-field h3 {
        width: 10rem;
    }

    .option-header {
        gap: 5rem;
    }
}

@media (max-width: 975px) {
    .my-info h2 {
        display: none;
    }

    .my-info h4 {
        display: block;
    }

    .options {
        font-size: 1.2rem;
    }

    .skills-content {
        text-align: center;
    }
}

@media (max-width: 1115px) {

    .card-info,
    .contact-card {
        width: 90%;
    }

    .my-info {
        font-size: 1.2rem;
    }
}